{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.12.2"}
        org.suskalo/coffi   {:mvn/version "1.0.615"}}

 :aliases
 {:run   {:jvm-opts  ["-XstartOnFirstThread" "--enable-native-access=ALL-UNNAMED"]
          :main-opts ["-m" "demo.fenhouse"]}

  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}}}
